{%extends 'base.html'%}

{%block 'titulo'%}Opções Estoque{%endblock%}
{%block 'conteudo'%}
<div class="Pcontainer">
    <div class="row g-6">
        <div class="box">
            <a  href="/customer/AddCustomer">
                <div class="buttonC">
                    Cadastrar Cliente
                </div>
            </a>
            <a  href="/customer/ListCustomer">
                <div class="buttonC">
                    Lista de Clientes
                </div>
            </a>
        </div>    
    </div>
</div>
 
</div>
{%endblock%}